.note {
    background: none;
    border: 1px solid white;
    margin: 10px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.6);
    color: white;
    cursor: text;
}

.note h5 {
    padding: 0.5rem 1rem;
}

.note:hover {
    border: 2px solid white;
}

li {
    list-style: none;
}

.fa-tag {
    margin-right: 10px;
    margin-left: 0;
    font-size: 12px;
}

.card-body {
    white-space: pre-line;
}




